<div>
    <form action="api/users" enctype="multipart/form-data" method="post">
        <div>
            <label>Nombre:</label>
            <input name="first_name" id="first_name"></input>
        </div>
        <div>
            <label>Apellido:</label>
            <input name="last_name" id="last_name"></input>
        </div>
        <div>
            <label>E-mail:</label>
            <input name="email" id="email"></input>
        </div>
        <div>
            <label>Imagen:</label>:</label>
            <input type="file" name="thumbnail"></input>
        </div>

        <input type="submit" value="Submit">
    </form>
</div>