<div>
    <h1>Log in</h1>
    <form id="loginForm">
        <label>Email: </label>
        <input name="email">
        <br>
        <label>Contraseña: </label>
        <input  name="password" type="password">
        <br>
        <input type="submit">
    </form>
    <p>No tienes cuenta? <a href="/register">Registrate.</a></p>
    <p>Olvidate tu contraseña? <a href="/resetPassword">Restablecer contraseña.</a></p>
    <p>Ingresa con</p> <a href="/api/sessions/github">Github</a>
</div>
<script src="/js/login.js"></script>