<div>
    <h3>Login</h3>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <label>Contraseña</label>
        <input type="password" name="password">

        <input type="submit">
    </form>
    <p>No estas registrado?</p> <a href="/register">Registrate aqui.</a>

</div>

<script src="/js/login.js"></script>