<div>
    <div>
        <p>Todo listo para trabajar con web socket</p>
    </div>
    <label>Ingrese el texto aqui: </label>
    <input type="text" id="chat-input" name="chat-input">
    <button id="send-button">Enviar</button>
    {{!-- 1 --}}
    <p id="input-message"></p>
    {{!-- 2 --}}
    <div id="chat-container">
        <ul id="chat-messages">

        </ul>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>