<div>
    <h1>Inyeccion de cookies</h1>
        <form id="cookieForm">
            <label for="name">Nombre:</label>
            <input type="text" name="name">
            <label for="email">Email:</label>
            <input type="text" name="email">

            <input type="submit">
        </form>
    <button onclick="getCookie()">Obtener Cookie</button>
</div>
<script src="/js/cookieSetter.js"></script>